shipday website that can make our order reachable to customers => https://www.shipday.com/campaign/restaurant-delivery?utm_source=google&utm_medium=cpc&utm_campaign=21183283426&utm_content=173274823642&utm_term=digital%20restaurant%20ordering%20system&matchtype=p&gad_source=1&gad_campaignid=21183283426&gbraid=0AAAAADQxrjzAUyC-_CiHPCjNaPQ7phY1f&gclid=CjwKCAjwy7HEBhBJEiwA5hQNolWrQVcWsNOB16UA_cQ0ff3BOkswpzwgp6O2Sk0tFiTdiAlLnT1ythoCZ04QAvD_BwE


shipday is a delivery management software platform for a small business. delivery is the integral part of selling online.

